astroid==2.5.1
autopep8==1.5.4
bintrees==2.2.0
cffi==1.14.5
colorama==0.4.4
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
numpy==1.20.1
pycodestyle==2.6.0
pycparser==2.20
pygame==2.0.1
pygame-gui==0.5.7
pylint==2.7.2
pymunk==6.0.0
rope==0.18.0
selenium==3.141.0
toml==0.10.2
urllib3==1.26.2
wrapt==1.12.1
